<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_Wxkc5DlUvWs0173WGy1PUsKH',
    locale: 'auto',
    token: function(token) {
      console.log(token)
      $.post('/charge', {'token':token, 'type':window.type})
      .done(function(){
        window.location = 'https://chiconsignup.herokuapp.com/thanks'
        console.log("charge success")
      })
      .fail(function(){
        console.log("something went wrong")
      })
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('.stripe').on('click', function(e) {
    console.log($(this).attr("data-amount"))
    window.type = this.type
    // Open Checkout with further options
    handler.open({
      name: "Chicon Collective",
      description: 'Membership',
      amount: $(this).attr("data-amount")*100
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
