<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chicon</title>
  </head>
  <body>
    <h1>Thanks for joining us! Here’s a quick overview of almost everything you need to know to get started at Chicon Collective.</h1>

    If you have any specific questions, feel free to reply!

    <p>Manager Contacts:</p>
    <p>Amanda Philips: 512-623-9979                amanda@chicon.co</p>
    <p>Jack McGary:     jack@chicon.co</p>

    <p>Space Hours:</p>
    <p>24/7 for Full-Time Members
    9am-5pm for Part-time Members</p>

    <p>Parking:</p>
    <p>Parking is available for free anywhere on 3rd St, the lot off Chicon St next to the building, and next to the basketball court.</p>

    <strong>Keycode:</strong>
    <p>Will be given in person.</p>

    <strong>Wifi for Members (non-throttled):</strong>
    Chicon Collective (our 5ghz channel):
    black+gold, black+gold5
    cc-5
    d0c00lstuff5

    Be a part of the community! (contact Amanda or Jerome for access):
    <strong>1. Our Facebook group:</strong> This is how we communicate with each other telepathically, and would be pretty important to be in if you’d like to instantly be in the know of everything happening at the space. Highly recommend you join!
    <strong>2. Our Groupme:</strong> Another way to communicate telepathically, but less formal.
    Misc Notes:
    1.We have two major rules. The first one is: Don’t be evil.
    Second one is: Leave it how you found it. This means clean up your mess, make a new pot of coffee, and return things to their original place.
    2. Printer: Our printer/scanner is available for use. Printing capabilities are pretty straight forward and are accessible wirelessly (The printer’s called “Brother MFC”). If you need to scan, start the scan from your laptop, not the printer.
    2. Kitchen: Feel free to use it in Suite C (the larger room with the double doors). We have a stove and a few pots, pans, and spices laying about. If you know or want to learn how to use an Espresso Machine, let me know!
    3. Guests: Again, just one rule: don’t be evil. We want our members to feel welcome to bring their friends and family over. Just don’t abuse this privilege. Pick up after them and we’ll be good to go. If they start coming in often enough to be considered a member, they will be asked to sign up for a membership plan or pay for day rates.
    4. Free Conference Rooms: Reserve them using the clipboard right outside the room. Once you’re done, push in the chairs and leave the room better than how you found it. No minimum/maximum time, but let someone know ahead of time if you’ll need it for the whole day or more.
    5. Chicon is a Safe Place: We pride ourselves on being a comfortable environment for everyone. If you feel like someone is not treating the space or its community with respect or kindness please let me know immediately.

    <p>As always, let me know if you have any further questions or concerns about the space!
    Amanda
    Chicon Collective
    www.chicon.co
    Amanda
    Chicon Collective
    www.chicon.co</p>

  </body>
</html>
