<div class="modal fade" id="payModal" data-keyboard=false>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4 class="modal-title">Payment</h4>
      </div>
      <div class="modal-body">
        <h2 class="text-info">Enter your email, then swipe your card.</h1>
        <h3 class="text-info">You may have to type in your CVC.</h2>
        <form action="/charge" method="post">
            <h4 class="text-success">You must read &amp; agree to our Terms of Services.</h4>
            <div class="terms"><h3>CODE OF CONDUCT:</h3>
<p>All members are considered welcoming, friendly, open-minded, passionate, and honest.
Chicon Collective is a safe, welcoming environment for everyone. If you feel that a member is not behaving appropriately, please talk to the member about it. If it can’t be resolved, come talk to a manager. Chicon Collective reserves the right to take down any content deemed inappropriate, whether through social media or on the premises.

I understand that all membership benefits are subject to availability and are not guaranteed.</p>

<h3>PROPERTY:</h3>
<p>Any property you bring into the building is your responsibility. Any damage or theft to any personal property is solely the responsibility of the owner of the property. Chicon Collective and any associates are not responsible or liable.
Any member who is responsible or suspected as responsible for the damage or theft of another member’s or Chicon Collective’s property will be expelled from Chicon and have 3 months worth of their membership collected to replace the lost property.</p>

<h3>EXPULSION:</h3>
<p>Chicon has the right to refuse service to anyone, but especially for behavior contradictory to its values. Expulsion will result in an additional fee of one month’s membership as well as a lifetime ban from any and all future Chicon Collective events and organizations. No refunds will be given.</p>

<h3>TERMINATION:</h3>
<p>To end membership and prevent any future charges the “Membership Termination” form must be signed in person or through email at least 1 month prior to my termination of membership. If the “Membership Termination” is not signed in a timely manner your membership will not be terminated and you will be charged membership dues accordingly. Any unused days will not merit a refund.</p>

<h3>CLEANING:</h3>
<p>All members are responsible for cleaning up after themselves. Any ”mess” (i.e. leaving personal belongings on a non-dedicated desk overnight, use of kitchen and not cleaning up, not cleaning up after conference room usage, not locking up the space as the last member, leaving lights on overnight) left for over 24 hours will result in a reminder to clean. 24 hours after the first reminder will result in an additional $20 to the the member’s fee for the next month. Repeat offender (more than 3 times in a month) will be charged for a dedicated desk.
 Anything left on non-dedicated desks, tabletops, or floors overnight may be trashed if not labeled. Any large items you wish to store at Chicon Collective must be approved by a manager.</p>

<h3>Phone Calls:</h3>
<p>If you are on a phone call, and you do not have to use your computer during the call, please consider taking the call in the conference room, or outside. Until we get phone booths, the conference room or outside is the phone booth. If you are speaking to someone on the phone, and you do not have to be in front of your computer for the call, any member of Chicon Collective has the right to politely ask you to speak outside. If you refuse, the member has the right to play “Darude Sandstorm” at 120dB next to your receiver, until you leave.</p>

<h3>EVENTS:</h3>
<p>Members have the right to host events that pertain to their business 30 days after obtaining a membership. If the event will be raising funds, at least 5% of revenue must be donated to Chicon Collective.  All events are subject to approval. Personal events not in-line with Chicon Collective values may not be approved. Every event must have one paying, full-time member sponsor and be present for the full event.</p>

<h3>LIABILITY</h3>
<p>If we have to take legal action against you and prevail in court you agree to pay us 3 times the amount of our legal and administrative fees.</p></div><br>
            <label>Agree to Terms <input required type="radio" name="agree" value=""/></label><br>
            <label>Email: <input type="text" name="email" id="email"/></label><br>
    				<label>First name: <input required type="text" name="firstName" id="firstName" /></label><br>
    				<label>Last name: <input type="text" name="lastName" id="lastName" /></label><br>
    				<label>Card number: <input type="text" name="account" id="account" data-stripe="number"/></label><br>

    					Expiration date:
    					<label>Month: <input type="text" name="expMonth" id="expMonth" data-stripe="exp-month" size="2" /></label>
    					<label>Year: <input type="text" name="expYear" id="expYear" data-stripe="exp-year" size="4" /></label>
    				<br>
            <label>CVC: <input type="text" name="cvc" data-stripe="cvc" id="cvc"/></label><br>
            <input hidden id="membertype" type="text" name="type">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Pay</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  <script type="text/javascript">
    // Called by plugin on a successful scan.
    var complete = function (data) {
      // Is it a payment card?
      if (data.type == "generic")
        return;
      // Copy data fields to form
      $("form #firstName").val(data.firstName);
      $("form #lastName").val(data.lastName);
      $("form #account").val(data.account);
      $("form #expMonth").val(data.expMonth);
      $("form #expYear").val("20"+data.expYear);
      $("form #type").val(data.type);
    };
    // Event handler for success.cardswipe.  Displays returned data in a dialog
    var success = function (event, data) {
      $("#cvc").focus()
    }
    var failure = function () {
      console.log('failure')
    }
    // Initialize the plugin with default parser and callbacks.
    //
    // Set debug to true to watch the characters get captured and the state machine transitions
    // in the javascript console. This requires a browser that supports the console.log function.
    //
    // Set firstLineOnly to true to invoke the parser after scanning the first line. This will speed up the
    // time from the start of the scan to invoking your success callback.
    $.cardswipe({
      firstLineOnly: true,
      success: complete,
      parsers: ["visa", "amex", "mastercard", "generic"],
      debug: false
    });
    // Bind event listeners to the document
    $(document)
      .on("success.cardswipe", success)
      .on("failure.cardswipe", failure)
    ;
    $('#payModal').on('shown.bs.modal', function () {
      $('#email').focus()
    })
  </script>
</div><!-- /.modal -->
