<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_Wxkc5DlUvWs0173WGy1PUsKH');
  $('form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });

  function stripeResponseHandler(status, response) {
    var $form = $('form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response;
      console.log(token)
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $.post("/charge", {
        token: token,
        type: window.type,
        email: $('form #email').val()
      })
      .success(function(){
        window.location = "https://chiconsignup.herokuapp.com/thanks"
      })
      .fail(function(e){
        console.log(e);
      })
    }
  };

  $('a').click(function(e){
    window.type = this.type
  })
</script>
