include layout

block content
  .container-fluid
    .row
      .col-lg-12
        p.text-center
          i(class="fa fa-5x fa-rocket text-center text-danger")
          i(class="fa fa-5x fa-rocket text-center text-warning")
          i(class="fa fa-5x fa-rocket text-center text-info")
        h1.title.text-center.text-primary
          |Thanks for signing up!
        h1.text-center.text-primary
          | If you have any questions, please contact 
          a(href="mailto:amanda@chicon.co").
            Amanda
