@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #FAFAFA;
  padding: 50px;
  font: 14px "Roboto";
}

a {
  color: #00B7FF;
}

.terms {
  height: 300px;
  overflow: scroll;
  padding: 10px;
  border: solid 1px black;
}
h1.title {
  width: 100%;
  font-size: 5em;
}
