@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: #FAFAFA;
  padding: 50px;
  font: 14px "Roboto";
}

a {
  color: #00B7FF;
}

h1.title {
  width: 100%;
  font-size: 5em;
}
